<!DOCTYPE html>

<html ng-app="ghApp">
    <head>
        <title>GLORY HOLE</title>
        <!-- Basic META TAGS
		================================================================= -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <!-- Handle the phone numbers links. "no" indicates that telephone numbers in the HTML code should not appear as hypertext links  -->
        <meta name="format-detection" content="telephone=no" />
        
        <!-- Remove tap highlight on Windows Phone -->
        <meta name="msapplication-tap-highlight" content="no" />

		<!-- Mobile Specific Metas
		================================================================= -->
		<meta id="viewport" name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
       
        <!-- CSS
		================================================================= -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/MQ.css" />
        <!-- JavaScript
		================================================================= -->
        
        
        <!--Load Angular core scripts -->
        <script type="text/javascript" src="js/angular/angular.min.js"></script><!--  AngularJS v1.2.23 -->
        <script type="text/javascript" src="js/angular/angular-touch.min.js"></script><!--  AngularJS touch Module -->
        <script type="text/javascript" src="js/angular/angular-animate.min.js"></script><!--  AngularJS Animation Module -->
        
		<!--Load Phaser game engine -->
        <script type="text/javascript" src="js/core/phaser.min.js"></script>
        
		<!--Load jQuery -->
		<script type="text/javascript" src="js/core/jquery_v1.11.1.js"></script>
		
		<!-- Application scripts -->
        <script type="text/javascript" src="js/appConfig.js"></script>
        <script type="text/javascript" src="js/appGame.js"></script>
        <script type="text/javascript" src="js/appServices.js"></script>
        <script type="text/javascript" src="js/appControllers.js"></script>
        
    </head>
	
    <body id="theme_regular" class="">
    
		<!-- APP VIEWS -->
		<div id="mainWrapper" class="view-frame" ng-controller="gameCtrl">
            
			<!-- PROFILE SCREEN -->
            <div id="profileScreen" class="html-box" ng-controller="profileCtrl">
                <header class="">
                    <h2>{{localization.profileLabel}}</h2>
					<span class="icon"></span>
                </header>
                
                <div id="profileContent" class="data-box">
                    <ul>
                        <li data-ng-repeat="profile in profileData">
                            <strong>
								{{profile.title}}
                            </strong>
                            <span>
                                {{profile.value}}
                            </span>
                        </li>
                    </ul>

                </div>
           
                <footer class="">
                    <span ng-click="menuScreen('showProfile')">{{localization.backLabel}}</span>
                </footer>
           </div>
            
            <!-- STORE SCREEN -->
            <div id="storeScreen" class="html-box" ng-controller="storeCtrl">
                <header class="">
                    <h2>{{localization.storeLabel}}</h2>
					<span class="icon">{{profileData.points}}$</span>
                </header>
                
                <div id="storeContent" class="data-box">
					<section class="store-cat cfix" ng-repeat="storeCat in storeData">
						<h4>{{storeCat.catTitle}}</h4>
						<ul class="item-list cfix">
						   <!--  <li ng-repeat="storeItem in storeCat.storeItems" ng-class="{available : storeCat.itemId == avaItems[storeCat.catId].}" ng-click="buyItem(storeItem.itemPrice, itemId)"> -->
							 <li ng-repeat="storeItem in storeCat.storeItems" ng-class="{available: userStoreData[storeCat.catId][storeItem.itemId], selected: userStoreData[storeCat.catTitle]['selectedItem'] == storeItem.itemId}">
								<h5>{{storeItem.itemName}}</h5>
								<h6>{{storeItem.itemPrice}}</h6>
								<div class="item-info">
									<img ng-src="{{storeItem.itemThumbnail}}" alt="" />
								</div>
							</li>
						</ul>
					</section> 
                </div>
                
                <footer>
                    <span ng-click="menuScreen('showStore')">{{localization.backLabel}}</span>
                </footer>
                
            </div>
              
			
            <!-- GAME SCREEN -->
            <div id="gameScreen"></div>
            
              
       </div>
        
		<!--<script src="js/index.js"></script> -->
        
    </body>
</html>
